body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:312px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:224px;
  width:113px;
  height:24px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:283px;
  width:40px;
  height:40px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:283px;
  width:40px;
  height:40px;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:283px;
  width:40px;
  height:40px;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:367px;
  width:40px;
  height:40px;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:367px;
  width:40px;
  height:40px;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:367px;
  width:40px;
  height:40px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:451px;
  width:40px;
  height:40px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:451px;
  width:40px;
  height:40px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:451px;
  width:40px;
  height:40px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:302px;
  width:132px;
  height:32px;
  opacity:0.6;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:308px;
  width:95px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:344px;
  width:132px;
  height:32px;
  opacity:0.6;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:350px;
  width:87px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:93px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:80px;
  width:340px;
  height:93px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#FF3399;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:324px;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:74px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:93px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:189px;
  width:340px;
  height:93px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#FF3399;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:324px;
  word-wrap:break-word;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:183px;
  width:40px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
